<header class="p-3 bg-dark text-white mb-4">
  <div class="container">
      <title>Formulario</title>
      <h1>Formulario</h1>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="text",name="name",id="name">
              <input type="text",name="price",id="price">
              <input type="text",name="thumbnail",id="thumbnail">
              <input type="submit", value="Cargar"></input>
          </form>

          <button on click="/products">Ir a productos</button>

      </div>
  </div>
</header>